{% extends "home.html" %} {% load static %}
{% block title %}Note{% endblock title %}
{% block breadcrumbbar %}

<!-- Start Breadcrumbbar -->

<div class="breadcrumbbar bg-transparent">
</div>

<!-- End Breadcrumbbar -->

{% endblock breadcrumbbar %}


{% block content %}
<div class="contentbar dark-outer-color-theme pt-5">
  <div class="row justify-content-center dark-outer-color-theme">
 
<form  method="post" accept-charset="utf-8"  class="col"
    action="{{object.get_delete_url}}"
    autocomplete="off">
    <div class="card details-card bgc-none">
        <h2 class="card-header header-bgc header-box-shadow py-0">Are you sure to delete: {{object.title}}?</h2>

        <div class="card-body py-0 ">
            {% csrf_token %}
            <div class="form-row">
            
                <div class="form-group col-6">
                    <label for="" class="col-sm-12  col-form-label font-weight-bold text-nowrap dark-theme-text">Delete</label>
                    <input type="submit" class="btn btn-outline-dark" value="Delete">
                </div>
                <div class="form-group col-6">
                    <label for="" class="col-sm-12  col-form-label font-weight-bold text-nowrap dark-theme-text">Back</label>
                    <a class="btn btn-outline-dark" href="{{object.get_detail_url}}">Back To Note</a>
                </div>
            </div>
        </div>
    </div>

</form>

  </div>
</div>

{% endblock content %}
